<div class="container" style="margin-top: 2rem">
  <div class="row">
    <div class="col">
      <h1>Sign Up!</h1>
      {{#messages.error}}
          <div class="alert alert-danger" role="alert">
            {{.}}
          </div>
      {{/messages.error}}
      <form method="POST" action="/addasnip/">
        <div class="form-group{{#errors.username}} has-danger{{/errors.username}}">
          <label class="form-control-label" for="username-input">Username</label><br>
          <input type="text" id="username-input" name="username" class="form-control" value="{{username}}" />
          {{#errors.username}}
            <div class="form-control-feedback">{{msg}}</div>
          {{/errors.username}}
        </div><br>
        <div class="form-group{{#errors.password}} has-danger{{/errors.password}}">
          <label class="form-control-label" for="password-input">Password</label><br>
          <input type="password" id="password-input" name="password" class="form-control" />
          {{#errors.password}}
            <div class="form-control-feedback">{{msg}}</div>
          {{/errors.password}}
        </div><br>
        <div class="form-group{{#errors.password}} has-danger{{/errors.password}}"><br>
          <label class="form-control-label" for="password-input">Type Password Again</label><br>
          <input type="password" id="password-input" name="password2" class="form-control" />
          {{#errors.password}}
            <div class="form-control-feedback">{{msg}}</div>
          {{/errors.password}}
        </div><br>
        <div class="form-group{{#errors.email}} has-danger{{/errors.email}}"><br>
          <label class="form-control-label" for="password-input">Email</label><br>
          <input type="email" id="password-input" name="email" class="form-control" />
          {{#errors.email}}
            <div class="form-control-feedback">{{msg}}</div>
          {{/errors.email}}
        </div><br>
        <button type="submit" class="btn btn-primary">Register</button>
      </form>
    </div>
  </div>
</div>
